@import url('./const.css');

.galery{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 25px;
    text-align: center;
    margin-block: 100px;
}

.galery img{
    width: 97%;
}